<h1>Mon premier QCM sur Blazor</h1>

<p>
    Vous avez répondu @totalNbQuestions question(s) sur @(total)
</p>

<h4>@((MarkupString)question.ToString())</h4>

<label>Entrez votre reponse en chiffre</label>
<br />
<input type="text"
       @bind="@answer" 
        />
<button class="btn btn-primary" type="submit" @onclick="CheckAnswer">
    Valider</button>
<button class="btn btn-secondary" type="submit" @onclick="Next">
    Passer au question suivant
</button>

@((MarkupString)result)

<br />
<p>Vous avez @totalNbResponses bonne(s) réponse(s) </p>

@code {
            private string inputAnswer;
            private string answer;

            [Parameter]
            public ClassLibrary1.Question question { get; set; }
            //[Parameter]
            //public string definedAnswer { get; set; }
            //[Parameter]
            //public string questionTxt { get; set; }
            [Parameter]
            public EventCallback<bool> Reponse { get; set; }
            public string result { get; set; }

            public int totalNbQuestions = 0;
            public int totalNbResponses = 0;
            [Parameter]
            public int total { get; set; }

            private void CheckAnswer()
            {
                inputAnswer = $"{answer}";

                if (inputAnswer == question.elements[question.elements.Count-1]) // Length
                {
                    totalNbQuestions++;
                    result = "<h5 class=\"text-success\"> Bravo ! Votre réponse est correcte</h5>";
                    totalNbResponses++;
                }
                else
                {
                    totalNbQuestions++;
                    result = $" <h5 class=\"text-danger\">Dommage, votre réponse n'est pas correcte, la bonne réponse est <strong> {question.elements[question.elements.Count-1]}</strong></h5>";
        }
    }

    private void Next()
    {
        Reponse.InvokeAsync(true);
        answer = null;
        result = null;
    }

}

