@page "/Quiz3"

<h1>Niveau TRES avancé</h1>

<QuizModel fileName="@fileName3"></QuizModel>

@code{
   
    public string fileName3 = @"C:\Users\Libre\source\repos\japanese-quiz\WebApplication1\TextFile3.txt";

}