@page "/Quiz2"

<h1>Niveau intermédiaire</h1>

<QuizModel fileName="@fileName2"></QuizModel>

@code{
   
    public string fileName2 = @"C:\Users\Libre\source\repos\japanese-quiz\WebApplication1\TextFile2.txt";

}